.bg-profil-bar {
  background-image: url('../../../assets/img/misc/bg-1.jpg');
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 1rem;
  background-color: #f9fafe;
}
.profil-item {
  &::after {
    font-family: 'FontAwesome';
    content: '\f105';
    font-style: normal;
    font-weight: normal;
    margin-left: 5px;
    color: #74788d;
    float: right;
  }
}
.vio-badge-user{
  background-color: #adb5bd;
  width: 69px;
  height: 60px;
  font-size: 25px;
  padding: 5px 9px 5px 9px;
  border-radius: 5px;
}
