<form [formGroup]="userProfilForm" (ngSubmit)="onSubmit()">
  <h6 class="heading-small text-muted mb-4">User personnal information</h6>
  <div class="pl-lg-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label" for="input-first-name">First name</label>
          <input
            type="text"
            id="input-first-name"
            class="form-control form-control-alternative"
            placeholder="First name"
            formControlName="firstname"
            [ngModel]="authUser.firstname"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label" for="input-last-name">Last name</label>
          <input
            type="text"
            id="input-last-name"
            class="form-control form-control-alternative"
            placeholder="Last name"
            formControlName="lastname"
            [ngModel]="authUser.lastname"
          />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label for="aboutMe">Description</label>
          <textarea
            id="aboutMe"
            rows="4"
            class="form-control form-control-alternative"
            formControlName="aboutMe"
            [ngModel]="authUser.aboutMe"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4" />
  <!-- Address -->
  <h6 class="heading-small text-muted mb-4">Contact information</h6>
  <div class="pl-lg-4">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="form-control-label" for="input-address">Address</label>
          <input
            id="input-address"
            class="form-control form-control-alternative"
            placeholder="Home Address"
            formControlName="addressLine"
            type="text"
            [ngModel]="authUser.address.addressLine"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="input-city">City</label>
          <input
            type="text"
            id="input-city"
            class="form-control form-control-alternative"
            placeholder="City"
            formControlName="city"
            [ngModel]="authUser.address.city"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="input-country">Country</label>
          <input
            type="text"
            id="input-country"
            class="form-control form-control-alternative"
            placeholder="Country"
            formControlName="country"
            [ngModel]="authUser.address.country"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="input-postal-code">Postal code</label>
          <input
            type="text"
            id="input-postal-code"
            class="form-control form-control-alternative"
            placeholder="Postal code"
            formControlName="postCode"
            [ngModel]="authUser.address.postCode"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="phone">Phone</label>
          <input
            type="text"
            id="phone"
            class="form-control form-control-alternative"
            placeholder="0102030405"
            formControlName="phone"
            [ngModel]="authUser.phone"
          />
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4" />
  <!-- Description -->
  <h6 class="heading-small text-muted mb-4">User professional information</h6>
  <div class="pl-lg-4">
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="job">Job</label>
          <input
            id="job"
            class="form-control form-control-alternative"
            placeholder="Dr ..."
            formControlName="job"
            type="text"
            [ngModel]="authUser.job"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="company">Company name</label>
          <input
            id="company"
            class="form-control form-control-alternative"
            placeholder="Dr ..."
            formControlName="companyName"
            type="text"
            [ngModel]="authUser.companyName"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="website">Website</label>
          <input
            type="text"
            id="website"
            class="form-control form-control-alternative"
            placeholder="https://..."
            formControlName="website"
            [ngModel]="authUser.website"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="facebook">Facebook</label>
          <input
            type="text"
            id="facebook"
            class="form-control form-control-alternative"
            formControlName="facebook"
            [ngModel]="authUser.socialsNetworks.facebook"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="twitter">Twitter</label>
          <input
            type="text"
            id="twitter"
            class="form-control form-control-alternative"
            formControlName="twitter"
            [ngModel]="authUser.socialsNetworks.twitter"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="instagram">Instagram</label>
          <input
            type="text"
            id="instagram"
            class="form-control form-control-alternative"
            formControlName="instagram"
            [ngModel]="authUser.socialsNetworks.instagram"
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-control-label" for="linkedIn">Linkedin</label>
          <input
            type="text"
            id="linkedIn"
            class="form-control form-control-alternative"
            formControlName="linkedIn"
            [ngModel]="authUser.socialsNetworks.linkedin"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-info">Update informations</button>
  </div>
</form>
