<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container no-btw">
    <a class="navbar-brand mr-lg-5 flex-grow" [routerLink]="['/home']">
      <img [src]="front.logo.src" [alt]="front.logo.alt" />
      <span class="text-white">iodiz</span>
    </a>
    <div class="navbar-collapse-front collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-sm-3 col-md-2 collapse-brand">
            <a [routerLink]="['/home']">
              <img [src]="front.logo.src" [alt]="front.logo.alt" />
              <span [ngStyle]="{ 'font-size': '25px' }">iodiz</span>
            </a>
          </div>
          <div class="col-sm-8 col-md-9 nav-item ml-lg-4 text-center">
            <a [routerLink]="['/auth']" class="btn btn-neutral btn-icon w-100">
              <span class="btn-inner--icon">
                <i class="flaticon-logout mr-2"></i>
              </span>
              <span class="nav-link-inner--text" [translate]="'FRONT.MENU.START'"></span>
            </a>
          </div>
          <div class="col-sm-1 col-md-1 collapse-close position-absolute right-0">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i [ngStyle]="{ 'font-size': '25px' }" class="ni ni-ui-04 d-lg-none text-primary"></i>
            <span class="nav-link-inner--text">Components</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i [ngStyle]="{ 'font-size': '25px' }" class="ni ni-collection d-lg-none text-blue"></i>
            <span class="nav-link-inner--text">Examples</span>
          </a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav flex-direction-initial align-items-lg-center ml-lg-auto">
      <li class="nav-item">
        <a
          class="nav-link nav-link-icon-front"
          href="https://www.facebook.com/creativetim"
          target="_blank"
          data-toggle="tooltip"
          title="Like us on Facebook"
        >
          <i [ngStyle]="{ 'font-size': '25px' }" class="flaticon-facebook-logo-button text-white nav-front-social"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link nav-link-icon-front"
          href="https://www.instagram.com/creativetimofficial"
          target="_blank"
          data-toggle="tooltip"
          title="Follow us on Instagram"
        >
          <i [ngStyle]="{ 'font-size': '25px' }" class="flaticon-instagram-logo text-white nav-front-social"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link nav-link-icon-front"
          href="https://twitter.com/creativetim"
          target="_blank"
          data-toggle="tooltip"
          title="Follow us on Twitter"
        >
          <i [ngStyle]="{ 'font-size': '25px' }" class="flaticon-twitter-logo-button text-white nav-front-social"></i>
        </a>
      </li>
    </ul>

    <div class="navbar-nav d-md-flex">
      <app-language-selector [position]="'bottom-left'"></app-language-selector>
    </div>
    <div class="nav-item d-none d-lg-block ml-lg-4">
      <ng-container *ngIf="user$ | async; else noUserConnected">
        <a [routerLink]="['/admin/dashboard']" class="btn btn-neutral btn-icon" *ngxPermissionsOnly="['CONSTRUCTOR', 'ADMIN', 'MODERATOR', 'USER']">
        <span class="btn-inner--icon">
          <i class="flaticon-dashboard mr-2"></i>
        </span>
          <span class="nav-link-inner--text" [translate]="'FRONT.HOME.DASHBOARD'"></span>
        </a>
      </ng-container>
      <ng-template #noUserConnected>
        <a [routerLink]="['/auth']" class="btn btn-neutral btn-icon">
        <span class="btn-inner--icon">
          <i class="flaticon-logout mr-2"></i>
        </span>
          <span class="nav-link-inner--text" [translate]="'FRONT.MENU.START'"></span>
        </a>
      </ng-template>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
