:host {
  ::ng-deep {
    .vio-loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;

      .progress-bar {
        background-color: #3d4aed;
      }
    }

    .kt-header__topbar-item {
      height: 100%;
    }

    @media (min-width: 1025px) {
      .kt-header__topbar,
      .kt-header__topbar-item-wrapper {
        height: 100%;
      }
    }

    .loading-spinner {
      border: 2px solid #f3f3f3;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    .bt-blue {
      border-top: 2px solid #3d4aed;
    }
    .bt-white {
      border-top: 2px solid white;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
