<section *ngIf="user$ | async as _user">
  <div
    class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    [ngStyle]="{
      'min-height': '600px',
      'background-image': 'url(' + _user.photoUrl + ')',
      'background-size': 'cover',
      'background-position': 'center top'
    }"
  >
    <!-- Mask -->
    <span class="mask opacity-8" [ngClass]="{ 'bg-gradient-info': !_user.photoUrl }"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello {{ _user.displayName | titlecase }}</h1>
          <p class="text-white mt-0 mb-5">
            This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks
          </p>
          <a href="javascript:void(0)" class="btn btn-info" (click)="onIsEdit()">Edit profile</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow vio-card">
          <span *ngIf="_user.emailVerified"><i class="flaticon2-correct text-success email-verified-success"></i></span>
          <form [formGroup]="userAvatarForm">
            <div class="row justify-content-center">
              <div class="vio-lg-3 order-lg-2">
                <div class="card-profile-img">
                  <a href="javascript:void(0)">
                    <img *ngIf="!_user.photoUrl" alt="current user" class="rounded" [attr.src]="'assets/img/misc/default-welcomer.png'" />
                    <img *ngIf="_user.photoUrl" alt="current user" class="rounded" [attr.src]="_user.photoUrl" />
                    <label for="loadAvatar" class="file-svg-container">
                      <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24" />
                          <path
                            d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z"
                            fill="#fff"
                            fill-rule="nonzero"
                            opacity="0.3"
                          />
                          <rect
                            fill="#fff"
                            opacity="0.3"
                            transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) "
                            x="11"
                            y="1"
                            width="2"
                            height="14"
                            rx="1"
                          />
                          <path
                            d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z"
                            fill="#fff"
                            fill-rule="nonzero"
                            transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) "
                          />
                        </g>
                      </svg>
                    </label>
                    <input
                      id="loadAvatar"
                      (change)="detectFiles($event, _user.email)"
                      formControlName="avatar"
                      type="file"
                      name="profile_avatar"
                      accept=".png, .jpg, .jpeg"
                      [ngStyle]="{ display: 'none' }"
                    />
                  </a>
                </div>
              </div>
            </div>
          </form>
          <div class="card-body">
            <div
              class="row"
              *ngIf="
                _user.socialsNetworks.facebook || _user.socialsNetworks.twitter || _user.socialsNetworks.instagram || _user.socialsNetworks.linkedin
              "
            >
              <div class="col">
                <div class="d-flex justify-content-center mb-2">
                  <div class="p-2">
                    <span class="description">
                      <a *ngIf="_user.socialsNetworks.facebook" [href]="_user.socialsNetworks.facebook" class="btn btn-facebook" target="_blank"
                        ><i class="fa fa-facebook"></i
                      ></a>
                    </span>
                  </div>
                  <div class="p-2">
                    <span class="description">
                      <a *ngIf="_user.socialsNetworks.twitter" [href]="_user.socialsNetworks.twitter" class="btn btn-twitter" target="_blank"
                        ><i class="fa fa-twitter"></i
                      ></a>
                    </span>
                  </div>
                  <div class="p-2">
                    <span class="description">
                      <a *ngIf="_user.socialsNetworks.instagram" [href]="_user.socialsNetworks.instagram" class="btn btn-instagram" target="_blank"
                        ><i class="fa fa-instagram"></i
                      ></a>
                    </span>
                  </div>
                  <div class="p-2">
                    <span class="description">
                      <a *ngIf="_user.socialsNetworks.linkedin" [href]="_user.socialsNetworks.linkedin" class="btn btn-twitter" target="_blank"
                        ><i class="fa fa-linkedin"></i
                      ></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="vio-width-card">
              <h3 class="text-center">
                {{ _user.displayName | titlecase }}
              </h3>
              <div class="mt-4 d-flex justify-content-between">
                <span class="h5 ">Email: </span>
                <span class="h5 vio-card-link">
                  {{ _user.email }}
                </span>
              </div>
              <div class="mt-4 d-flex justify-content-between">
                <span class="h5">Job: </span>
                <span class="h5">{{ _user.job }}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="h5">Phone:</span>
                <span class="h5">{{ _user.phone }}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="h5">Location: </span>
                <span class="h5" *ngIf="_user.address.city">{{ _user.address.city }}, {{ _user.address.postCode }}</span>
              </div>
              <div class="d-flex justify-content-between mt4">
                <span class="h5">Website:</span>
                <span class="h5">{{ _user.website }}</span>
              </div>
              <div *ngIf="!_user.emailVerified">
                <p class="text-warning">Email not verified</p>
                <a href="javascript:void(0)" class="btn btn-info" (click)="onSendEmailVerification()">Send email verification</a>
              </div>
              <hr class="my-4" />
              <p *ngIf="!_user.aboutMe">
                Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.
              </p>
              <p *ngIf="_user.aboutMe">{{ _user.aboutMe }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="isEdit">
              <app-form-profile [authUser]="_user"></app-form-profile>
            </div>
            <div class="pl-lg-4" *ngIf="!isEdit">
              <app-card-course></app-card-course>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
