<!-- Page content -->
<div class="d-flex justify-content-between w-100">
  <div class="d-none d-md-block  w-75 pt-5 bg-primary left-side" [ngStyle]="{ background: 'url(' + front.bg.src + ') center/cover no-repeat' }">
    <div>
      <a class="p-4" [routerLink]="['/home']">
        <img [src]="front.logo.src" [alt]="front.logo.alt" width="100" />
      </a>
    </div>
    <img class="w-100" [src]="front.bg.ill" alt="ill-2.svg" />
  </div>
  <div class="d-flex justify-content-center w-100 pt-5 bg-white right-side">
    <div class="w-75">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <app-socials-signin></app-socials-signin>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
            <small>julie@test.com</small>
          </div>
          <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-email-83"></i>
                  </span>
                </div>
                <input class="form-control" placeholder="Email" type="email" formControlName="email" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" formControlName="password" />
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox" formControlName="rememberMe" />
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4" [disabled]="signInForm.invalid">Sign in</button>
            </div>
          </form>
        </div>
        <div class="row mt-3 pb-3">
          <div class="col-6 text-center">
            <a [routerLink]="['/auth/password']" class="text-light">
              <span class="text-tertiary">Forgot password?</span>
            </a>
          </div>
          <div class="col-6 text-center">
            <a [routerLink]="['/auth/register']" class="text-light">
              <span class="text-tertiary">Create new account</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
