.vio-catalog{
  background-color: #ffffff;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  color: #1a2138;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 1.875rem;
  padding: 0;
  .picture{
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    flex: 1;
  }
  .detail{
    padding: 1rem 1.25rem;
    h4{
      font-size: 1.625rem;
      font-family: Open Sans, sans-serif;
      font-weight: 700;
      line-height: 2rem;
    }
    .description{
      text-align: justify;
    }
  }
  .vio-catalog-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.25rem;
    border-top: 1px solid #edf1f7;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    a{
      i{
        font-size: 30px;
      }
    }
  }
}
